#bonjour {
    color: black;
    text-align: center;
  }
  #about {
    background-color: orange;
    color: black;
    text-align: center;
  }
  #inform {
    background-color: orange;
    color: black;
  }
  #i1 {
    color: black;
  }
  #i11 {
    background-color:orange ;
    color: black;
  }
  #i2 {
    color: black;
  }
  #i22 {
    background-color: orange ;
    color: black;
  }
  #goodbye {
    color: black;
    text-align: center;
  }